<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tk.passage.dao.MenuDao" >

    
    <resultMap id="menu" type="com.tk.passage.pojo.Menu">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="url" column="url" />
        <result property="icon" column="icon" />
        <result property="isleaf" column="isleaf" />
        <result property="parentid" column="parentid" />
        <collection property="child" ofType="com.tk.passage.pojo.Menu" column="id" select="getChild"/>
    </resultMap>

    <select id="getMenu" resultMap="menu">
        
        select * from menu where parentid is null
        
    </select>
    <select id="getChild" resultMap="menu" parameterType="String">

        select * from menu where parentid = #{id}

    </select>


    <select id="getParentMenu" resultMap="menu">
        select * from menu where parentid is null
    </select>

    <insert id="addMenu" parameterType="com.tk.passage.pojo.Menu">
        INSERT INTO menu (name,url,icon,isleaf,parentid)
        VALUES (#{name},#{url},#{icon},#{isleaf},#{parentid})
    </insert>

    <select id="getMenuByRole" parameterType="java.lang.Integer" resultMap="menu">
       SELECT * FROM menu m
        RIGHT JOIN (select roleid,menuid from  role_menu where roleid = #{roleid}) r
        on
        m.id =r.menuid  where m.parentid is null

    </select>

</mapper>
